# Database Configuration
#DATABASE_URL=mysql+pymysql://root:test@123@localhost:3306/database_name
DATABASE_URL=mysql+pymysql://root:test%40123@localhost:3306/BEYOND
# Example:
# DATABASE_URL=mysql+pymysql://root:mypassword@localhost:3306/my_database
